body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

main {
  padding: 56px 28px;
  color: white;
}

p {
  color: white;
}

.nav-h3,
.nav-h4 {
  margin: 0px;
}

.nav-h3 {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav-h4 {
  color: #deebf8;
  font-weight: 600;
}

.nav-img {
  max-height: 40px;
  margin-right: 5px;
}

.main-h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -0.05em;
}

.main-ul {
  margin-top: 45px;
  max-width: 400px;
}
.main-ul > h1 {
  line-height: 20px;
  padding-block: 10px;
}

.main-ul > li::marker {
  font-size: 1.5 rem;
  color: #61dafb;
}
